@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Oswald");

@font-face{
    font-family: "gotham light";
    src: url('font/Gotham-Light.otf'),
    url('font/Gotham-Light.otf'); /* IE */
}

@font-face{
    font-family: "gotham medium";
    src: url('font/Gotham-Medium.otf'),
    url('font/Gotham-Medium.otf'); /* IE */
}

body{
  margin: 0;
  padding: 0;
  background: #fff url(../img/white_cover_work.jpg) center center fixed no-repeat;
  -moz- background-size: cover;
  background-size: cover;
  background-position: top;
  opacity: 1;
}

body.bodyBG{
  margin: 0;
  padding: 0;
  background: #fff;
  transition: all 1.2s ease;
}

a.CoverBtnOriMain:hover{
  color: white;
  font-family: gotham light;
  font-size: 12.5pt;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
}

.CoverBtnOriMain{
  background: #999;
  padding: 3px 7px;
  border-radius: 30px;
  color: white;
  font-family: gotham light;
  font-size: 12.5pt;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
}

a.CoverBtnOri:hover{
  background: #999;
  padding: 3px 7px;
  border-radius: 30px;
  color: white;
  font-family: gotham light;
  font-size: 12.5pt;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
  -o-transition: color .30s ease-in-out;
  -webkit-transition: color .30s ease-in-out;
  -moz-transition: color .30s ease-in-out;
  transition:  color .30s ease-in-out;
  -o-transition: background .30s ease-in-out;
  -webkit-transition: background .30s ease-in-out;
  -moz-transition: background .30s ease-in-out;
  transition:  background .30s ease-in-out;
}

.CoverBtnOri{
  font-family: gotham light;
  font-size: 12.5pt;
  color: black;
}

.col-md-5ths{
  padding: 0;
  margin: 18px 0;
  width: 20%;
  text-align: center;
}

.top-slogan{
  position: absolute;
  margin-top: 80px;
  width: 100%;
  text-align: center;
  font-family: gotham light;
  font-size: 35pt;
  font-style: italic;
}


/*assistive touching point*/
.assistive-touch{
  position: fixed;
  width: 100%;
  top: 40px;
  z-index: 10;
}

.touch-hidden{
  display: none;
}

.menu-item, .menu-open-button {
  background: #999;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  opacity: .5;
  color: #fff;
  box-shadow: 0px 0px 10px #999;
  -o-transition: opacity .20s ease-in-out;
  -webkit-transition: opacity .20s ease-in-out;
  -moz-transition: opacity .20s ease-in-out;
  transition:  opacity .20s ease-in-out;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  display: none;
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 280ms;
          transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
          transform: translate3d(90.9466px, -52.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 380ms;
          transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
          transform: translate3d(90.9466px, 52.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 480ms;
          transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
          transform: translate3d(0.08361px, 104.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 580ms;
          transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
          transform: translate3d(-90.86291px, 52.62064px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
  -webkit-transition-duration: 680ms;
          transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
          transform: translate3d(-91.03006px, -52.33095px, 0);
}

.clay-word{
  font-size: 12.5pt;
  font-family: gotham light;
  color: #fff;
  font-style: normal;
}

.clay-con:hover{
  text-decoration: none;
}
/*assistive touching point over*/


.dot-set{
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.dot{
  margin-left: 5px;
  margin-right: 5px;
}

.dot-dark{
  opacity: 1;
}

.dot-pale{
  opacity: .3;
  cursor: pointer;
}

.img-real{
  margin-top: 45px;
  transition: opacity 0.8s ease;
}

.top-img{
  position: absolute;
  margin-top: 45px;
  transition: opacity 0.8s ease;
}

.top-hidden{
  opacity: 0;
}

.central-bar{
  margin-top: 45px;
  margin-bottom: 20px;
}

.centerLeft{
  background: none;
  text-align: right;
  margin-top: 37px;
}
/*37px = 80(diameter of img circle)/2 - 3px(padding)*/

.centerLeft2{
  background: #999;
  font-family: gotham medium;
  color: #fff;
  margin-top: -6.25pt;
  padding: 3px 7px;
  border-radius: 30px;
  margin-right: -3%;
}
/*6.25 = font12.5/2*/

.centerLeft3{
  background: #999;
  font-family: gotham medium;
  color: #fff;
  margin-top: -6.25pt;
  padding: 3px 7px;
  border-radius: 30px;
  margin-right: -3%;
  opacity: 0.5;
  transition: all .3s ease-in;
}

.centerRight{
  background: none;
  text-align: left;
  margin-top: 37px;
}

.centerRight2{
  background: #999;
  font-family: gotham medium;
  color: #fff;
  margin-top: -6.25pt;
  padding: 3px 7px;
  border-radius: 30px;
  margin-left: -3%;
}

.centerRight3{
  background: #999;
  font-family: gotham medium;
  color: #fff;
  margin-top: -6.25pt;
  padding: 3px 7px;
  border-radius: 30px;
  margin-left: -3%;
  opacity: 0.5;
  transition: all .3s ease-in;
}

.workContentIcon{
  background: white;
  opacity: .8;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0px 0px 10px #999;
}
/*<div class="col-md-2 col-sm-2 col-2">
  <div class="workContentIcon">
    <img src="img/work_icon.png" width="80px" height="80px">
  </div>
</div>*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
.slider {
    -webkit-appearance: none;
    -o-appearance: none;
    width: 100%;
    height: 80px;
    border-radius: 100px;
    background: #fff;
    outline: none;
    opacity: 0.8;
    box-shadow: 0px 0px 10px #999;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 80px;
    height: 80px;
    border: 0;
    background: url('../img/work_icon_8080.png');
    cursor: pointer;
    text-align: center;
}
.slider::-moz-range-thumb {
    width: 80px;
    height: 80px;
    border: 0;
    background: url('../img/work_icon_8080.png');
    cursor: pointer;
}

.show{
  opacity: 1;
  transition: all 1.2s ease;
}

.show.hidden{
  opacity: 0;
  transform: translateX(0) translateY(300px);
}

.show.moveOut{
  opacity: 0;
  transform: translateX(0) translateY(-300px);
}

.show.hiddenLeft{
  opacity: 0;
  transform: translateX(0) translateY(200px);
}

.show.hiddenRight{
  opacity: 0;
  transform: translateX(0) translateY(200px);
}

.rowUpPo{
  margin-top: 60px;
  width: 100%;
}

.hiddenPic{
  position: absolute;
  border-radius: 10px;
  opacity: 0;
}

.hiddenPic:hover{
  position: absolute;
  border-radius: 10px;
  opacity: 1;
  transition: all .18s ease-in;
}

.pic{
  border-radius: 10px;
}

.rowPoLeft{
  position: static;
  left: 0;
}

.iconRight{
  text-align: right;
}

.gapAd{
  margin-left: 25px;
  /*adjust the gap of left side*/
  /*because right side is not able to be full*/
}

.topic-text-1{
  font-family: gotham light;
  font-size: 35pt;
  color: #000;
  line-height: 25pt;
}

.topic-text-2{
  font-family: gotham light;
  font-size: 10pt;
  color: #000;
  line-height: 60pt;
}

.topic-text-3{
  font-family: gotham light;
  font-size: 10pt;
  color: #000;
  text-align: justify;
  line-height: 20pt;
}

.next{
  position: static;
  margin-top: 30px;
}

.nextIcon{
  opacity: .5;
  text-decoration: none;
  color: #000;
  font-family: gotham medium;
  font-size: 10pt;
}

.nextIcon:hover{
  opacity: 1;
  transition: all .2s ease;
  text-decoration: none;
  color: #000;
}

.forNextText{
  margin-right: 10px;
  margin-top: -3px;
}

.slogan{
  margin-top: 60px;
  font-family: gotham medium;
  font-style: italic;
  font-size: 12.5pt;
  text-align: center;
}


.bottomBar{
  background: #999;
  width: 100%;
  height: 80px;
  margin-top: 100px;
}

.bottomSign{
  background: none;
  color: white;
  font-family: gotham light;
  font-size: 9pt;
  line-height: 80px;
  text-align: right;
}

.bottomIconPosition{
  line-height: 80px;
  text-align: left;
}

.bottomIcon1{
  width: 30px;
  height: 30px;
  margin: 0 1% 0 0;
  opacity: .5;
}

img.bottomIcon1:hover{
  width: 30px;
  height: 30px;
  margin: 0 1% 0 0;
  opacity: 1;
  -o-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  transition:  opacity .30s ease-in-out;
}

.bottomIcon2_3{
  width: 30px;
  height: 30px;
  margin: 0 1% 0 1%;
  opacity: .5;
}

img.bottomIcon2_3:hover{
  width: 30px;
  height: 30px;
  margin: 0 1% 0 1%;
  opacity: 1;
  -o-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  transition:  opacity .30s ease-in-out;
}

/*responsive for smaller screen*/
@media screen and (min-width: 701px) and (max-width: 1050px){
  .topic-text-1{
    font-family: gotham light;
    font-size: 20pt;
    color: #000;
    line-height: 15pt;
  }
}

@media screen and (max-width: 700px){
  .topic-text-1{
    font-family: gotham light;
    font-size: 20pt;
    color: #000;
    line-height: 25pt;
  }

  .topic-text-2{
    display: none;
  }

  .topic-text-3{
    display: none;
  }
}
