@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Oswald");

@font-face{
    font-family: "gotham light";
    src: url('font/Gotham-Light.otf'),
    url('font/Gotham-Light.otf'); /* IE */
}

@font-face{
    font-family: "gotham medium";
    src: url('font/Gotham-Medium.otf'),
    url('font/Gotham-Medium.otf'); /* IE */
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #dfd3c4 url(../img/white_cover.jpg) center center fixed no-repeat;
  -moz- background-size: cover;
  background-size: cover;
  background-position: top;
  opacity: 1;
  transform: translateX(-8.5px);
}

/*opening animation*/
.show{
  opacity: 1;
  transition: all .5s ease-in;
}

.show.hidden{
  opacity: 0;
}


/*upper menu definition*/
a.CoverBtnOriMain:hover{
  color: white;
  font-family: gotham light;
  font-size: 12.5pt;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
}

.CoverBtnOriMain{
  background: #999;
  padding: 3px 7px;
  border-radius: 30px;
  color: white;
  font-family: gotham light;
  font-size: 12.5pt;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
}

a.CoverBtnOri:hover{
  background: #999;
  padding: 3px 7px;
  border-radius: 30px;
  color: white;
  font-family: gotham light;
  font-size: 12.5pt;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
  -o-transition: color .30s ease-in-out;
  -webkit-transition: color .30s ease-in-out;
  -moz-transition: color .30s ease-in-out;
  transition:  color .30s ease-in-out;
  -o-transition: background .30s ease-in-out;
  -webkit-transition: background .30s ease-in-out;
  -moz-transition: background .30s ease-in-out;
  transition:  background .30s ease-in-out;
}

.CoverBtnOri{
  font-family: gotham light;
  font-size: 12.5pt;
  color: black;
}

.col-md-5ths{
  padding: 0;
  margin: 18px 0;
  width: 20%;
  text-align: center;
}

.skill-title-position{
  margin-top: 45px;
  margin-left: 50%;
  text-align: center;
}

.skill-title1{
  width: 240px;
  height: 80px;
  margin-left: -120px;
  font-family: gotham light;
  font-size: 35pt;
  color: #000;
  padding: 3px 7px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #999;
}

ul li{
  list-style: none;
}

.contact-content{
  margin-top: 8%;
  font-size: 12.5pt;
  font-family: gotham medium;
  text-align: center;
}

.contact-content:hover{
  margin-top: 8%;
  font-size: 12.5pt;
  font-family: gotham medium;
  text-align: center;
}

.img-text{
  opacity: .5;
}

.img-text:hover{
  opacity: 1;
  transition: all .3s ease-in-out;
  text-decoration: none;
}

.content-text{
  display: inline-block;
  margin-left: 5%;
  color: #000;
}

.slogan{
  margin-top: 15%;
  font-size: 20pt;
  font-family: gotham light;
  text-align: center;
}
