@font-face{
    font-family: "gotham bold";
    src: url('font/Gotham-Bold.otf'),
    url('font/Gotham-Bold.otf'); /* IE */
}

@font-face{
    font-family: "gotham light";
    src: url('font/Gotham-Light.otf'),
    url('font/Gotham-Light.otf'); /* IE */
}

@font-face{
    font-family: "gotham book";
    src: url('font/Gotham-Book.otf'),
    url('font/Gotham-Book.otf'); /* IE */
}

html{
  overflow-x: hidden;
}

body{
  /* user-select: none; 讓使用者無法反白 (google chrome)*/
  user-select: none;
  line-height: 1;
  overflow-x: hidden;
  margin: 0px;
}

p, a, h1, h2, h3, h4{
  letter-spacing: 0.05em;
}

body p{
  margin: 0px;
}

body a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

h2{
  font-size: 30pt;
  margin: 0px;
}

h3{
  font-size: 14pt;
  margin: 0px;
}

h4{
  font-size: 10pt;
  margin: 0px;
}

header{
  margin: 5vw 5% 1rem 5%;
  font-family: gotham book;
  position: relative;
}

header h3{
  font-size: 24pt;
}
header h3 span{
  font-size: 10pt;
  margin-left: 20px;
  color: #999;
  font-family: gotham light;
}

header .underlined-btn{
  margin-top: 0;
}

header .underline{
  border-color: #000;
}

.links{
  position: absolute;
  right: 0px;
  top: 9pt;
}

.top-img-block{
  position: relative;
  width: 90%;
  /* height: 50.625vw; */
  margin: 0 5% 2rem 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.img-real{
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.img-abs{
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.top-content{
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  font-family: gotham light;
}

.top-content h2:nth-child(1){
  margin-bottom: 2rem;
}

.top-content h2:nth-child(3){
  display: none;
}

.dot-group{
  position: absolute;
  z-index: 2;
  bottom: 0px;
}

.dot-group li{
  display: inline-block;
  margin: 1rem 2.5px;
}

.dot{
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 99em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.8s ease-out;
}

.show{
  opacity: 1;
}

.underlined-btn{
  /* 在父元素設為flex的情況下
    子元素設為inline-block可以讓子元素的寬度
    自動適應 "子元素" 的內容寬度  而非父元素的寬度 */
  display: inline-block;
  cursor: pointer;
  margin-top: 2rem;
}

.underlined-btn h3 a{
  color: #fff;
  transition: all 0.35s ease-out;
}
.underlined-btn h4 a{
  color: #000;
  transition: all 0.35s ease-out;
}


.underline{
  width: 100%;
  margin-top: 5px;
  border-bottom: 1.5px solid #fff;
  transition: all 0.35s ease-out;
}

.underlined-btn:hover .underline{
  width: 0%;
}

.underlined-btn:hover a{
  color: #999;
}

.tag-block{
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: center;
  font-family: gotham light;
}

.tag-block ul{

}

.tag-block ul li{
  display: inline-block;
  margin: 2rem 10px;
  border: solid 1px #000;
  padding: 7px;
  border-radius: 5px;
}

.work-block{
  width: 100%;
  margin: 0 5%;
}

.work-column{
  width: 30%;
  float: left;
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
}

.work-column:nth-child(1){
  align-items: flex-start;
}
.work-column:nth-child(2){
  align-items: center;
}
.work-column:nth-child(3){
  align-items: flex-end;
}

.show-for-sm{
  display: none;
}

.work-column section{
  width: 90%;
  text-align: center;
  font-family: gotham light;
  margin-top: 2rem;
  transition: all 0.35s ease-out;
}

.img-box-flat, .img-box-long, .img-box-square{
  position: relative;
  width: 100%;
  height: 0;
  /* 用padding-bottom來做出高度(隨寬度保持比例) */
  overflow: hidden;

  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}
.img-box-flat{
  /* 16:9 */
  padding-bottom: 56.25%;
}
.img-box-long{
  /* 4:3 */
  padding-bottom: 133.4%;
}
.img-box-square{
  /* 1:1 */
  padding-bottom: 100%;
}

.img-box-flat:hover img{
  transform: scale(1.1);
}
.img-box-flat:hover .img-cover{
  opacity: 1;
}
.img-box-long:hover img{
  transform: scale(1.1);
}
.img-box-long:hover .img-cover{
  opacity: 1;
}
.img-box-square:hover img{
  transform: scale(1.1);
}
.img-box-square:hover .img-cover{
  opacity: 1;
}

.work-column section .img-cover{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.35s ease-out;
}

.work-column section img{
  transition: all 0.35s ease-out;
}

.work-column section .underlined-btn{
  position: absolute;
  margin: 0px;
  z-index: 2;
}

.work-column section h3{
  margin: 1rem 0;
}

.work-column section .underlined-btn h3{
  margin: 0px;
}

.work-column section ul li{
  display: inline-block;
  margin: 5px 5px;
}


.bottom-block{
  clear: both;
  width: 100%;
  background: #333;
  padding: 5rem 0;
}

.bottom-content{
  width: 90%;
  margin: 0 5%;
  color: #fff;
  font-family: gotham light;
}

.bottom-content h3{
  font-size: 24pt;
  margin-bottom: 3rem;
}
.bottom-content h3 span{
  margin-left: 20px;
  font-size: 10pt;
  color: #999;
}

.bottom-content section{
  margin-top: 1rem;
}

.bottom-content section img{
  width: 30px;
  height: 30px;
  opacity: 0.5;
  margin-right: 10px;
  transition: all 0.35s ease-out;
}

.bottom-content section img:hover{
  opacity: 1;
}

.bottom-content section img, h4{
  display: inline-block;
}
.bottom-content section h4{
  float: right;
  margin-top: 16px;
}


.up-down-moved{
  transform: translateY(30px);
  opacity: 0;
}



/*responsive for smaller screen*/
/* XSS */
@media screen and (max-width: 500px){
  h2{
    font-size: 26pt;
  }
  h3{
    font-size: 12pt;
  }
  header h3 span, .bottom-content h3 span{
    display: block;
    margin-left: 0px;
    margin-top: 1rem;
  }
  header .links{
    display: none;
  }
  .top-img-block{
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .top-content h2:nth-child(1), .top-content h2:nth-child(2){
    display: none;
  }
  .top-content h2:nth-child(3){
    display: block;
    line-height: 1.5;
  }
  .underlined-btn{
    margin-top: 1rem;
  }
  .dot-group li{
    margin: 0.5rem 2.5px;
  }
  .tag-block ul li{
    margin: 0.5rem 2.5px;
  }
  .work-column{
    width: 90%;
  }
  .work-column section{
    width: 100%;
  }
  .work-column:nth-child(1){
    align-items: center;
    margin-bottom: 0px;
  }
  .work-column:nth-child(2){
    align-items: center;
    margin-bottom: 0px;
  }
  .work-column:nth-child(3){
    align-items: center;
  }
  .bottom-content section h4{
    display: block;
    float: none;
    margin-top: 1rem;
  }
}
/* extra small */
@media screen and (min-width: 500px) and (max-width: 768px){
  h2{
    font-size: 26pt;
  }
  h3{
    font-size: 12pt;
  }
  header .links{
    display: none;
  }
  .top-img-block{
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .top-content h2:nth-child(1), .top-content h2:nth-child(2){
    display: none;
  }
  .top-content h2:nth-child(3){
    display: block;
    line-height: 1.5;
  }
  .underlined-btn{
    margin-top: 1rem;
  }
  .tag-block ul li{
    margin: 0.5rem 2.5px;
  }
  .work-column{
    width: 90%;
  }
  .work-column section{
    width: 100%;
  }
  .work-column:nth-child(1){
    align-items: center;
    margin-bottom: 0px;
  }
  .work-column:nth-child(2){
    align-items: center;
    margin-bottom: 0px;
  }
  .work-column:nth-child(3){
    align-items: center;
  }
}
/* small */
@media screen and (min-width: 768px) and (max-width: 992px){
  h2{
    font-size: 26pt;
  }
  h3{
    font-size: 12pt;
  }
  .work-column{
    width: 45%;
  }
  .work-column:nth-child(2){
    align-items: flex-end;
    margin-bottom: 0px;
  }
  .work-column:nth-child(3){
    align-items: flex-end;
  }
  .show-for-sm{
    display: block;
  }
  .show-for-big{
    display: none;
  }

}
/* medium */
@media screen and (min-width: 992px) and (max-width: 1200px){

}


/*responsive for smaller screen*/
/* XSS */
@media screen and (max-device-width: 500px){
  h2{
    font-size: 50pt;
  }
  h3{
    font-size: 32pt;
  }
  h4{
    font-size: 14pt;
  }
  header h3{
    font-size: 32pt;
  }
  header h3 span, .bottom-content h3 span{
    display: block;
    margin-left: 0px;
    margin-top: 1rem;
    font-size: 14pt;
  }
  header .links{
    display: none;
  }
  .top-img-block{
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .top-content h2:nth-child(1), .top-content h2:nth-child(2){
    display: none;
  }
  .top-content h2:nth-child(3){
    display: block;
    line-height: 1.5;
  }
  .underlined-btn{
    margin-top: 5rem;
  }
  .dot-group li{
    margin: 0.5rem 2.5px;
  }
  .tag-block ul li{
    margin: 0.5rem 2.5px;
  }
  .work-column{
    width: 90%;
  }
  .work-column section{
    width: 100%;
    margin-top: 5rem;
  }
  .work-column section h3{
    font-size: 32pt;
    margin: 2rem 0;
  }
  .work-column:nth-child(1){
    align-items: center;
    margin-bottom: 0px;
  }
  .work-column:nth-child(2){
    align-items: center;
    margin-bottom: 0px;
  }
  .work-column:nth-child(3){
    align-items: center;
  }
  .bottom-block{
    padding: 10rem 0;
  }
  .bottom-content h3{
    font-size: 32pt;
  }
  .bottom-content h4{
    font-size: 14pt;
  }
  .bottom-content section h4{
    display: block;
    float: none;
    margin-top: 1rem;
    font-size: 14pt;
  }
  .up-down-moved{
    transform: translateY(0px);
    opacity: 1;
  }
}
/* extra small */
@media screen and (min-device-width: 500px) and (max-device-width: 768px){
  h2{
    font-size: 50pt;
  }
  h3{
    font-size: 32pt;
  }
  h4{
    font-size: 14pt;
  }
  header h3{
    font-size: 32pt;
  }
  header h3 span, .bottom-content h3 span{
    display: block;
    margin-left: 0px;
    margin-top: 1rem;
    font-size: 14pt;
  }
  header .links{
    display: none;
  }
  .top-img-block{
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .top-content h2:nth-child(1), .top-content h2:nth-child(2){
    display: none;
  }
  .top-content h2:nth-child(3){
    display: block;
    line-height: 1.5;
  }
  .underlined-btn{
    margin-top: 5rem;
  }
  .dot-group li{
    margin: 0.5rem 2.5px;
  }
  .tag-block ul li{
    margin: 0.5rem 2.5px;
  }
  .work-column{
    width: 90%;
  }
  .work-column section{
    width: 100%;
    margin-top: 5rem;
  }
  .work-column section h3{
    font-size: 32pt;
    margin: 2rem 0;
  }
  .work-column:nth-child(1){
    align-items: center;
    margin-bottom: 0px;
  }
  .work-column:nth-child(2){
    align-items: center;
    margin-bottom: 0px;
  }
  .work-column:nth-child(3){
    align-items: center;
  }
  .bottom-block{
    padding: 10rem 0;
  }
  .bottom-content h3{
    font-size: 32pt;
  }
  .bottom-content h4{
    font-size: 14pt;
  }
  .bottom-content section h4{
    display: block;
    float: none;
    margin-top: 1rem;
    font-size: 14pt;
  }
  .up-down-moved{
    transform: translateY(0px);
    opacity: 1;
  }
}
/* small */
@media screen and (min-device-width: 768px) and (max-device-width: 992px){

}
/* medium */
@media screen and (min-device-width: 992px) and (max-device-width: 1200px){

}
