@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Oswald");

@font-face{
    font-family: "gotham light";
    src: url('font/Gotham-Light.otf'),
    url('font/Gotham-Light.otf'); /* IE */
}

@font-face{
    font-family: "gotham medium";
    src: url('font/Gotham-Medium.otf'),
    url('font/Gotham-Medium.otf'); /* IE */
}

body{
  margin: 0;
  padding: 0;
  background: #dfd3c4 url(../img/white_cover.jpg) center center fixed no-repeat;
  -moz- background-size: cover;
  background-size: cover;
  background-position: top;
  opacity: 1;
}

/*upper menu definition*/
a.CoverBtnOriMain:hover{
  color: white;
  font-family: gotham light;
  font-size: 12.5pt;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
}

.CoverBtnOriMain{
  background: #999;
  padding: 3px 7px;
  border-radius: 30px;
  color: white;
  font-family: gotham light;
  font-size: 12.5pt;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
}

a.CoverBtnOri:hover{
  background: #999;
  padding: 3px 7px;
  border-radius: 30px;
  color: white;
  font-family: gotham light;
  font-size: 12.5pt;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
  -o-transition: color .30s ease-in-out;
  -webkit-transition: color .30s ease-in-out;
  -moz-transition: color .30s ease-in-out;
  transition:  color .30s ease-in-out;
  -o-transition: background .30s ease-in-out;
  -webkit-transition: background .30s ease-in-out;
  -moz-transition: background .30s ease-in-out;
  transition:  background .30s ease-in-out;
}

.CoverBtnOri{
  font-family: gotham light;
  font-size: 12.5pt;
  color: black;
}

.col-md-5ths{
  padding: 0;
  margin: 18px 0;
  width: 20%;
  text-align: center;
}


/*opening animation*/
.show{
  opacity: 1;
  transition: all .5s ease-in;
}

.show.hidden{
  opacity: 0;
}

/*head image & personal intro definition*/
.head-img-intro{
  margin-top: 35px;
  /*10px compensation for img bezel/frame */
  text-align: center;
  font-size: 35pt;
  font-family: gotham light;
}

.head-img{
  opacity: 1;
  cursor: pointer;
}

.head-img-cover{
  position: absolute;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
          transform: scale(1, 1) translate3d(0, 0, 0);
          cursor: pointer;
}

.head-img-cover:hover{
  position: absolute;
  opacity: 1;
  /*cubic-bezier最後一段速度大於1 = 瞬間形變效果*/
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.3);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.3);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.head-img-SM{
  position: absolute;
  transform: scale(1);
  z-index: -2;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.to-left{
  position: absolute;
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.3);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.3);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: scale(0.5) rotate(180deg) translate(-350px, 100px);
          transform: scale(0.5) rotate(180deg) translate(-350px, 100px);
}

.to-right{
  position: absolute;
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.3);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.3);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: scale(0.5) rotate(180deg) translate(350px, 100px);
          transform: scale(0.5) rotate(180deg) translate(350px, 100px);
}

.head-name{
  margin-top: 10px;
}

.intro{
  font-size: 12.5pt;
  font-family: gotham medium;
  font-style: italic;
  text-align: justify;
  line-height: 25pt;
  margin-top: 45px;
}


/*two titles definition(seperate for {display:none;} in smaller screen)*/
.title1{
  font-size: 20pt;
  font-family: gotham light;
  width: 50%;
  text-align: center;
  margin-top: 70px;
}

.title2{
  font-size: 20pt;
  font-family: gotham light;
  width: 50%;
  text-align: center;
  margin-top: 70px;
}


/*time line definition*/
.time-line{
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -1.5px;
  margin-top: 50px;
  background: #c5c5c5;
  width: 3px;
  height: 675px;
}

.time-line-year{
  position: absolute;
  display: inline-block;
  font-size: 12.5pt;
  font-family: gotham medium;
  margin-left: 40px;
}

.point-pos1{
  margin-top: 0;
}

.point-pos2{
  margin-top: 130px;
}

.point-pos3{
  margin-top: 210px;
}

.point-pos4{
  margin-top: 290px;
}

.point-pos5{
  margin-top: 370px;
}

.point-pos6{
  margin-top: 450px;
}

.point-pos7{
  margin-top: 530px;
}

.point-pos8{
  margin-top: 660px;
}

.time-line-point{
  position: absolute;
  display: inline-block;
  left: 50%;
  margin-left: -15px;
}

.point-dis{
  opacity: 0;
  transition: all .2s ease;
}

/*content definition*/
.contentAll{
  font-size: 12.5pt;
  font-family: gotham medium;
  width: 50%;
  text-align: right;
}

.time-line-content1{
  line-height: 0;
  margin-top: 195px;
  margin-right: 50px;
}

.time-line-content2{
  line-height: 0;
  margin-top: 80px;
  margin-right: 50px;
}

.time-line-content3{
  line-height: 0;
  margin-top: 30px;
  margin-right: 50px;
}

.time-line-content4{
  line-height: 0;
  margin-top: 47px;
  margin-right: 50px;
}

.time-line-content5{
  line-height: 0;
  margin-top: 50px;
  margin-right: 50px;
}

.time-line-content6{
  line-height: 0;
  margin-top: 130px;
  margin-right: 50px;
}

.edu-all{
  width: 50%;
  float: right;
  font-size: 12.5pt;
  font-family: gotham medium;
  text-align: center;
  font-style: italic;
}

.edu1{
  margin-top: 100px;
}

.edu2{
  margin-top: 300px;
}


/*bottom bar definition*/
.bottomBar{
  background: #999;
  width: 100%;
  height: 80px;
  margin-top: 100px;
}

.bottomSign{
  background: none;
  color: white;
  font-family: gotham light;
  font-size: 9pt;
  line-height: 80px;
  text-align: right;
}

.bottomIconPosition{
  line-height: 80px;
  text-align: left;
}

.bottomIcon1{
  width: 30px;
  height: 30px;
  margin: 0 1% 0 0;
  opacity: .5;
}

img.bottomIcon1:hover{
  width: 30px;
  height: 30px;
  margin: 0 1% 0 0;
  opacity: 1;
  -o-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  transition:  opacity .30s ease-in-out;
}

.bottomIcon2_3{
  width: 30px;
  height: 30px;
  margin: 0 1% 0 1%;
  opacity: .5;
}

img.bottomIcon2_3:hover{
  width: 30px;
  height: 30px;
  margin: 0 1% 0 1%;
  opacity: 1;
  -o-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  transition:  opacity .30s ease-in-out;
}


/*time-line changes for smaller screen*/
@media screen and (min-width: 601px) and (max-width: 1050px){
  .time-line{
    position: absolute;
    left: 80%;
    margin-left: -1.5px;
    margin-top: 50px;
    background: #c5c5c5;
    width: 3px;
    height: 675px;
  }

  .time-line-point{
    position: absolute;
    display: inline-block;
    left: 80%;
    margin-left: -15px;
  }

  .title1{
    font-size: 20pt;
    font-family: gotham light;
    width: 80%;
    text-align: center;
    margin-top: 70px;
  }

  .title2{
    display: none;
  }

  .contentAll{
    font-size: 12.5pt;
    font-family: gotham medium;
    width: 80%;
    text-align: right;
  }
  .edu-all{
    display: none;
  }
}

@media screen and (max-width: 600px){
  .time-line{
    position: absolute;
    left: 80%;
    margin-left: -1.5px;
    margin-top: 50px;
    background: #c5c5c5;
    width: 3px;
    height: 675px;
  }

  .time-line-point{
    position: absolute;
    display: inline-block;
    left: 80%;
    margin-left: -15px;
  }

  .title1{
    font-size: 20pt;
    font-family: gotham light;
    width: 80%;
    text-align: center;
    margin-top: 70px;
  }

  .title2{
    display: none;
  }

  .contentAll{
    font-size: 9pt;
    font-family: gotham medium;
    width: 80%;
    text-align: right;
  }

  .edu-all{
    display: none;
  }

  .time-line-year{
    position: absolute;
    display: inline-block;
    font-size: 9pt;
    font-family: gotham medium;
    margin-left: 40px;
  }

  .intro{
    font-size: 9pt;
    font-family: gotham medium;
    font-style: italic;
    text-align: justify;
    line-height: 18pt;
    margin-top: 20px;
  }

  .bottomSign{
    background: none;
    color: white;
    font-family: gotham light;
    font-size: 9pt;
    line-height: 80px;
    text-align: right;
  }
}
