@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Oswald");

@font-face{
    font-family: "gotham light";
    src: url('font/Gotham-Light.otf'),
    url('font/Gotham-Light.otf'); /* IE */
}

.allBG{
  background: #fff;
}

.preloadBox{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.preload-cover{
  z-index: 1;
  position: absolute;
}

.cover-move1{
  transform: translateX(0) translateY(-50px);
  transition: all 0.8s ease-in-out;
}

.cover-move2{
  transform: translateX(0) translateY(-130px);
  transition: all 0.6s ease-out;
}

.preload-hidden{
  display: none;
}

.preload-over{
  opacity: 0;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  transition: all 1s ease;
}

.text-delay{
  display: none;
}

.fly-in-text{
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.fly-in-text li{
  background: none;
  display: inline-block;
  color: #000;
  font-family: gotham light;
  font-size: 42pt;
  font-weight: 300;
  margin:0 2%;
  opacity: 1;
  transition: all 2.5s ease;
}



.fly-in-text.hidden li{
  opacity: 0;
}

.fly-in-text.hidden li:nth-child(1){transform: translateX(-200px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }

.btnSet{
  margin-top: 5%;
}

.btnGO{
  font-family: gotham light;
  font-size: 12.5pt;
  color: #000;
  padding: 3px 7px;
  border: 1px solid #4f6a87;
  border-radius: 30px;
  text-decoration: none;
  opacity: 1;
  transition: all 0.8s ease-in;
}

a.btnGO:hover{
  background: none;
  font-family: gotham light;
  font-size: 12.5pt;
  color: white;
  padding: 3px 7px;
  border: 1px solid #4f6a87;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 0px 10px #999;
  -o-transition: color .30s ease-in-out;
  -webkit-transition: color .30s ease-in-out;
  -moz-transition: color .30s ease-in-out;
  transition:  color .30s ease-in-out;
  -o-transition: box-shadow .30s ease-in-out;
  -webkit-transition: box-shadow .30s ease-in-out;
  -moz-transition: box-shadow .30s ease-in-out;
  transition:  box-shadow .30s ease-in-out;
}

.btnGO.hidden{
  opacity: 0;
}
